<div class="ui-fluid">
    <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="myUploader($event)"></p-fileUpload>

    <div *ngIf="rows.length > 0">
        <p-table [value]="rows">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols">
                        {{col.header}}
                    </th>
                </tr> 
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td *ngFor="let col of cols;index as i">
                        {{row[i]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>